/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.visibility {
    visibility: hidden;
}


/* #animOverlay{
  height: 100%;
  width: 100%;
} */
#animContainer {
    height: 40%;
    width: 90%;
    margin-top: 115%;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: rgb(0 0 0 / 80%);
}
#body .collapseAnimChange{
    height: 80%;
    margin-top: 30%;
}


#anim {
    position: absolute;
    height: 15%;
    width: 15%;
}

/******************************************
/* LAYOUT
/*******************************************/
#bg {
    position: absolute;
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

body {
    background: black;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

.bodyHeight {
    height: 100vh;
}

#leftContainer {
    width: 100%;
    background: #242e52;
    height: 50%;
    margin: 5%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#leftContainer.active {
    display: none;
}

#collapseNav {
    display: none;
    fill: white;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
}

#collapseNav.active {
    display: flex;
}

#collapseNav>svg {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border: 1px solid white;
    padding: 25px;
}

#navDate {
    font-size: 5.6rem;
}

h1 {
    font-size: 6.4rem;
    font-weight: bold;
}

#leftContainer>section {
    margin: 16px 5%;
    padding: 10px;
    background: #45608b;
    border: 5px solid #42517d;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#button {
    font-size: 4rem;
    margin-left: 20px;
    padding: 20px 40px;
    background: white;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}


#expandText{
    font-size: 3.5rem;
    margin-bottom: 40px;
    text-decoration: underline;
}


input {
    padding: 10px;
    font-size: 4.5rem;
    /* margin-top: 10px; */
    color: black;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

input:active {
    border: none;
}

#buttons span {
    cursor: pointer;
    margin-bottom: 20px;
    background: white;
    color: black;
    width: 100%;
    font-size: 3.2rem;
    border-radius: 5px;
    padding: 30px 20px;
    font-weight: bold;
}

#date {
    font-size: 3.5rem;
}

#title {
    font-size: 7.0rem;
    margin-bottom: 15px;
    font-weight: bold;
}

#explain {
    overflow: auto;
    height: 195px;
    padding: 0 20px;
    line-height: 40px;
    font-size: 2.8rem;
}

#appButtons{
    display: flex;
    justify-content: space-evenly;
}

#collapse, #github {
    font-size: 3.5rem;
    width: 30%;
    padding: 30px;
    border-radius: 10px;
    background: #3d426a;
    border: 5px solid #42517d;
    color: #d9d9d9;
    font-weight: bold;
}

#imageContainer>img {
    display: block;
    margin: 0 auto;
    max-height: 80%;
    max-width: 95%;
    object-fit: contain;
}

#ghost {
    display: none;
    width: 31%;
    margin-left: 64px;
    height: 100%;
}

#imageContainer {
    width: 95%;
    height: 100%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons span:hover {
    background: #a3bcdb;
}

iframe {
    height: 480px;
    width: 100%;
}

#body .hidden {
    display: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media (min-width: 800px) {
    #button {
        padding: 15px 40px;
        font-size: 3rem;
    }

    #buttons span {
        padding: 20px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 30%;
    }

    body {
        flex-direction: row;
        height: 100vh;
    }

    #collapse {
        display: none;
    }

    #leftContainer {
        height: 100%;
        margin: 0;
        margin-left: 45px;
        width: 25%;
        padding: 5% 0;
        position: fixed;
        /* overflow: overlay; */
    }
    /* width */
    #leftContainer::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    #leftContainer::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    #leftContainer::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    #leftContainer::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    #github{
        padding: 18px 0;
        width: 50%;
    }

    #ghost {
        display: block;
    }

    #explain {
        font-size: 3.8rem;
        line-height: 25px;
        padding: 0 10px;
    }

    #animContainer {
        margin-top: 0;
        height: 100%;
        margin-left: 28%;
        width: 71%;
    }
}

@media (min-width: 1500px) {
    #animContainer{
        margin-left: 495px;
        width: 0;
    }
    #leftContainer{
        width: 450px;
    }
    #ghost{
        width: 610px;
    }
}

